@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap");

body {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}
.app {
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #70a1ff, #5352ed);
  min-height: 100vh;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.train-card {
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.train-card {
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease,
    box-shadow 0.3s ease;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.train-card h3 {
  margin: 0;
}

.train-card p {
  margin: 10px 0;
  color: #666;
}

.selected-train {
  border: 1px solid #333;
  padding: 1rem;
  margin-top: 2rem;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  max-width: 80%;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.close {
  color: #aaa;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.train-list {
  opacity: 0;
  animation: fade-in 1s ease forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar {
  background-color: #2980b9;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}
.logo:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  text-decoration: none;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
  list-style: none !important;
}

.nav-links li a:hover {
  color: #12f35d;
}

.search-bar {
  display: flex;
  gap: 10px;
}

.search-bar input[type="text"] {
  padding: 8px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.search-bar button {
  padding: 8px 15px;
  background-color: blue;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: rgb(31, 85, 0);
  color: white;
  transform: scale(0.9);
  transition: 0.3s;
}
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    display: block;
  }
  .search-bar input[type="text"] {
    display: none;
  }
  .search-bar button {
    display: none;
  }

  .nav-links {
    display: grid;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
  }
  .menu-icon.active {
    transform: rotate(90deg);
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links li {
    margin-bottom: 10px;
    list-style: none !important;
  }

  .nav-links li:last-child {
    margin-bottom: 0;
  }

  .search-bar {
    margin-top: 10px;
  }

  .search-bar input[type="text"],
  .search-bar button {
    width: 100%;
  }
}

.menu-icon {
  font-size: 24px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.menu-icon.active {
  transform: rotate(90deg);
}
